#20C5D2
#F5F6F9
#000000
#A9A7B1
#FEC92E
#6356A5
#20C5D2
#191919

/* Layout Properties */
top: 311px;
left: 610px;
width: 380px;
height: 74px;
/* UI Properties */
text-align: left;
font: normal normal medium 30px/37px Helvetica Neue;
letter-spacing: 0px;
color: #000000;
opacity: 1;