#FFFFFF
#F5F6F9
#ECEDF3
#17181D
#FEC92E
#000000
#A9A7B1
#21C8D4
#FEC72E
#FD8453
#1E3A6F
#F697B5
#F9FAFD
#6356A5
#20C5D2
#595959
#191919

14px/21px Montserrat;
letter-spacing: 0px;
color: #17181D;
opacity: 1;

* Layout Properties */
top: 376px;
left: 1020px;
width: 20px;
height: 22px;
text-align: left;
font: normal normal medium 18px/23px Helvetica Neue;
letter-spacing: 0px;
color: #000000;
opacity: 1;